#Mj {
    background-color: aliceblue; font-size: 80px;
}

#Pistol {
    font-weight: bolder; color: red;
}

.true {
    font-size: 50px;
}

#ai {
    background-color: black; color: red; font-family: 'Courier New', Courier, monospace;
}

.lol {
    background-color: green; color: white; font-size: medium;
}

.Karl {
    font-family: sans-serif;
}